<div
  id="file-details-modal"
  role="dialog"
  tabindex="-1"
  aria-modal="true"
  aria-label="Show file details"
  class="translate-y-full fixed bottom-0 left-0 min-h-screen w-full flex flex-col justify-end sm:justify-center bg-gray-950/10 dark:bg-gray-950/50 backdrop-blur z-[60] transition-transform duration-200"
>
  <div
    class="w-full max-w-sm mx-auto bg-gray-50 dark:bg-gray-900 shadow-[0_-5px_15px_rgba(0,0,0,0.1)] rounded-t-2xl sm:rounded-2xl"
  >
    <div class="flex flex-col flex-grow relative max-h-[90vh]">
      <!-- Header with close button -->
      <div class="flex justify-between items-center p-5">
        <h2 class="text-2xl font-bold">File Info</h2>

        <button
          type="button"
          aria-label="Close file details modal"
          class="close-modal-btn p-1 sm:opacity-50 sm:hover:opacity-100 transition-all rounded-full focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-gray-400"
        >
          <%- icon({ name: 'X' }) %>
        </button>
      </div>

      <!-- File information -->
      <div
        class="px-5 flex flex-col gap-3 mb-5 overflow-y-auto scrollbar-thin scrollbar-thumb-gray-200 dark:scrollbar-thumb-gray-800 scrollbar-track-transparent"
      >
        <!-- File preview -->
        <div class="flex items-center justify-center my-5">
          <div id="file-preview" class="flex items-center justify-center my-5">
            <%- icon({name: 'File', size: 144, strokeWidth: 1}) %>
          </div>
        </div>

        <!-- File name -->
        <div class="flex flex-col gap-0.5">
          <span class="font-semibold">Name:</span>
          <span
            id="file-name"
            class="text-gray-600 dark:text-gray-400 font-light truncate"
          >
            test
          </span>
        </div>

        <!-- File path -->
        <div class="flex flex-col gap-0.5">
          <span class="font-semibold">Path:</span>
          <span
            id="file-path"
            class="text-gray-600 dark:text-gray-400 font-light"
          >
            Cloud drive
          </span>
        </div>

        <!-- File size -->
        <div class="flex flex-col gap-0.5">
          <span class="font-semibold">Size:</span>
          <span
            id="file-size"
            class="text-gray-600 dark:text-gray-400 font-light"
          >
            <!-- 00 KB -->
          </span>
        </div>

        <!-- File type -->
        <div class="flex flex-col gap-0.5">
          <span class="font-semibold">Type:</span>
          <span
            id="file-type"
            class="text-gray-600 dark:text-gray-400 font-light"
          >
            <!-- PDF file -->
          </span>
        </div>

        <!-- File resolution (image/video) -->
        <div id="file-resolution-wrapper" class="hidden flex-col gap-0.5">
          <span class="font-semibold">Resolution:</span>
          <span
            id="file-resolution"
            class="text-gray-600 dark:text-gray-400 font-light"
          >
            <!-- 1920 x 1080 -->
          </span>
        </div>

        <!-- File duration (video) -->
        <div id="file-duration-wrapper" class="hidden flex-col gap-0.5">
          <span class="font-semibold">Duration:</span>
          <span
            id="file-duration"
            class="text-gray-600 dark:text-gray-400 font-light"
          >
            <!-- 10:00 -->
          </span>
        </div>

        <!-- File created date -->
        <div class="flex flex-col gap-0.5">
          <span class="font-semibold">Date created:</span>
          <span
            id="file-created-date"
            class="text-gray-600 dark:text-gray-400 font-light"
          >
            2025-11-03
          </span>
        </div>
      </div>

      <!-- File actions -->
      <div
        class="h-20 p-5 flex items-center justify-between border-t border-gray-200 dark:border-gray-800"
      >
        <button
          id="delete-file-btn"
          title="Delete this file"
          aria-label="Delete this file"
          class="p-2 rounded-md disabled:text-gray-500 disabled:pointer-event-none disabled:cursor-not-allowed hover:bg-gray-200 dark:hover:bg-gray-800 transition-colors focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-gray-400"
        >
          <span><%- icon({name: 'Trash2', size: 20}) %></span>
        </button>
        <button
          id="share-file-btn"
          title="Share this file"
          aria-label="Share this file"
          aria-expanded="false"
          class="share-modal-trigger p-2 rounded-md disabled:text-gray-500 disabled:pointer-event-none disabled:cursor-not-allowed hover:bg-gray-200 dark:hover:bg-gray-800 transition-colors focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-gray-400"
        >
          <span><%- icon({name: 'Share2', size: 20}) %></span>
        </button>
        <button
          id="download-file-btn"
          title="Download this file"
          aria-label="Download this file"
          class="p-2 rounded-md disabled:text-gray-500 disabled:pointer-event-none disabled:cursor-not-allowed hover:bg-gray-200 dark:hover:bg-gray-800 transition-colors focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-gray-400"
        >
          <span><%- icon({name: 'Download', size: 20}) %></span>
        </button>
      </div>
    </div>
  </div>
</div>

<script
  type="module"
  src="/scripts/components/modals/file-details-modal.js"
></script>
