<div
  id="folder-details-modal"
  tabindex="-1"
  role="dialog"
  aria-modal="true"
  aria-label="Show folder details"
  class="translate-y-full fixed bottom-0 left-0 min-h-screen w-full flex flex-col justify-end sm:justify-center bg-gray-950/10 dark:bg-gray-950/50 backdrop-blur z-[60] transition-transform duration-200"
>
  <div
    class="w-full max-w-sm mx-auto bg-gray-50 dark:bg-gray-900 shadow-[0_-5px_15px_rgba(0,0,0,0.1)] rounded-t-2xl sm:rounded-2xl"
  >
    <div class="flex flex-col flex-grow relative">
      <!-- Header with close button -->
      <div class="flex justify-between items-center p-5">
        <h2 class="text-2xl font-bold">Folder Info</h2>

        <button
          type="button"
          aria-label="Close folder details modal"
          class="close-modal-btn p-1 sm:opacity-50 sm:hover:opacity-100 transition-all rounded-full focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-gray-400"
        >
          <%- icon({ name: 'X' }) %>
        </button>
      </div>

      <!-- Folder information -->
      <div class="px-5 flex flex-col gap-3 mb-5">
        <!-- Folder Icon -->
        <div class="flex items-center justify-center my-5">
          <span class="text-sky-400">
            <!-- prettier-ignore-start -->
            <%- icon({name: 'Folder', size: 72, fill: 'currentColor'}) %>
            <!-- prettier-ignore-end -->
          </span>
        </div>

        <!-- Folder name -->
        <div class="flex flex-col gap-0.5">
          <span class="font-semibold">Name:</span>
          <span
            class="folder-name text-gray-600 dark:text-gray-400 font-light"
          ></span>
        </div>

        <!-- Folder path -->
        <div class="flex flex-col gap-0.5">
          <span class="font-semibold">Path:</span>
          <span class="folder-path text-gray-600 dark:text-gray-400 font-light">
            Cloud drive
          </span>
        </div>

        <!-- Folder created date -->
        <div class="flex flex-col gap-0.5">
          <span class="font-semibold">Date created:</span>
          <span
            class="folder-created-date text-gray-600 dark:text-gray-400 font-light"
          >
          </span>
        </div>

        <!-- Folder updated date -->
        <div class="flex flex-col gap-0.5">
          <span class="font-semibold">Date modified:</span>
          <span
            class="folder-updated-date text-gray-600 dark:text-gray-400 font-light"
          >
          </span>
        </div>
      </div>

      <!-- Folder actions -->
      <div
        class="h-20 p-5 flex items-center justify-between border-t border-gray-200 dark:border-gray-800"
      >
        <!-- Delete button -->
        <button
          title="Delete the folder"
          aria-label="Delete this folder"
          class="delete-folder-btn p-2 rounded-md disabled:text-gray-500 hover:bg-gray-200 dark:hover:bg-gray-800 transition-colors focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-gray-400"
        >
          <span><%- icon({name: 'Trash2', size: 20}) %></span>
        </button>

        <!-- Rename button -->
        <button
          title="Rename the folder"
          aria-label="Rename the folder"
          aria-expanded="false"
          class="folder-form-modal-trigger p-2 rounded-md disabled:text-gray-500 hover:bg-gray-200 dark:hover:bg-gray-800 transition-colors focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-gray-400"
        >
          <span><%- icon({name: 'FolderPen', size: 20}) %></span>
        </button>

        <!-- Share button -->
        <button
          title="Share this folder"
          aria-label="Share this folder"
          aria-expanded="false"
          class="share-modal-trigger p-2 rounded-md disabled:text-gray-500 hover:bg-gray-200 dark:hover:bg-gray-800 transition-colors focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-gray-400"
        >
          <span><%- icon({name: 'Share2', size: 20}) %></span>
        </button>
      </div>
    </div>
  </div>
</div>

<script
  type="module"
  src="/scripts/components/modals/folder-details-modal.js"
></script>
