<div class="w-full px-5">
  <!-- Breadcrumb Navigation -->
  <nav>
    <span>Storage</span>
    <% if (breadcrumbs && breadcrumbs.length > 0) { %>
    <!-- loop -->
    <% breadcrumbs.forEach((crumb, index) => { %>
    <span>/</span>

    <% if (index === breadcrumbs.length - 1) { %>
    <span><%= crumb.name %></span>
    <% } else { %>
    <a href="/<%= crumb.id %>"><%= crumb.name %></a>
    <% } %>
    <% }); %>
    <% } %>
  </nav>

  <!-- Folders -->
  <% if (folders && folders.length > 0) { %>
  <div>
    <% folders.forEach(folder => { %>
    <div><%= folder.name %></div>
    <% }) %>
  </div>
  <% } %>

  <!-- Files -->
  <div>
    <% if (locals.files && files.length > 0) { %>
    <div>
      <% files.forEach(file => { %>
      <div><%= file.originalName %></div>
      <% }) %>
    </div>
    <% } else { %>
    <div class="empty-state">
      <p>No files yet. Upload some files to get started!</p>
    </div>
    <% } %>
  </div>
</div>

<script type="module" src="/scripts/homepage.js"></script>
