<div class="w-full flex-grow flex flex-col">
  <div class="flex-grow flex flex-col gap-4 px-5 py-5">
    <!-- Folder name -->
    <div class="flex items-center gap-3 mb-3">
      <span class="text-sky-400">
        <%- icon({name: 'Folder', size: 36, fill: 'currentColor'}) %>
      </span>
      <h1 class="text-2xl font-semibold"><%= folder.name %></h1>
    </div>

    <div
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 grid-flow-row gap-5"
    >
      <!-- Folders -->
      <% if (locals.subfolders && subfolders.length > 0) { %>
      <!-- loop folders -->
      <% subfolders.forEach(folder => { %>
      <%- include('components/shared-folder-item', { folder, folderToken }) %>
      <% }) %>
      <% } %>

      <!-- Files -->
      <% if (locals.files && files.length > 0) { %>
      <!-- loop files -->
      <% files.forEach(file => { %>
      <%- include('components/shared-file-item', { file, folderToken }) %>
      <% }) %>
      <% } %>

      <!-- No items -->
      <% if ((!locals.subfolders|| subfolders.length ===0) && (!locals.files || files.length === 0) ) { %>
      <div class="col-span-full row-span-full flex flex-col items-center mt-5">
        <span aria-hidden="true">
          <!-- icon -->
          <%- icon({name: 'FolderOpen', size:72, strokeWidth: 1, className: 'text-zinc-200 dark:text-zinc-800' }) %>
        </span>
        <h3 class="text-lg font-semibold mt-5 mb-3">Folder is empty</h3>
      </div>
      <% } %>
    </div>
  </div>
</div>
