<div
  id="file-in-modal"
  class="hidden w-full max-w-md mx-auto bg-gray-50 dark:bg-gray-900 flex-grow"
>
  <div class="w-full flex flex-col max-h-screen">
    <!--  close button -->
    <button
      type="button"
      aria-label="Close file modal"
      class="close-modal-btn absolute top-1 right-1 p-2 hover:bg-gray-200 dark:hover:bg-gray-700 rounded-lg transition-colors"
    >
      <%- icon({ name: 'X' }) %>
    </button>

    <!-- header -->
    <div class="h-28 flex items-end pb-4 px-5">
      <h2 id="modal-file-name" class="text-xl font-bold line-clamp-2">
        Whatever name here Whatever name here Whatever name here Whatever name
        here Whatever name here Whatever name here
      </h2>
    </div>

    <!-- info -->
    <div class="h-[calc(100vh-176px)] px-5 pb-5 overflow-y-auto">
      <div
        id="modal-file-preview"
        class="flex items-center justify-center my-5"
      >
        <%- icon({name: 'File', size: 144, strokeWidth: 1}) %>
      </div>
      <div class="flex flex-col gap-5">
        <div class="flex flex-col gap-1">
          <span class="font-semibold">Path:</span>
          <span id="modal-file-path" class="text-gray-700 dark:text-gray-300">
            <%= breadcrumbs.length > 0 ? breadcrumbs : 'Cloud store' %>
          </span>
        </div>
        <div class="flex flex-col gap-1">
          <span class="font-semibold">Size:</span>
          <span id="modal-file-size" class="text-gray-700 dark:text-gray-300">
            938 KB
          </span>
        </div>
        <div class="flex flex-col gap-1">
          <span class="font-semibold">Type:</span>
          <span id="modal-file-type" class="text-gray-700 dark:text-gray-300">
            PDF document
          </span>
        </div>

        <div id="modal-resolution-container" class="hidden flex-col gap-1">
          <span class="font-semibold">Resolution:</span>
          <span
            id="modal-file-resolution"
            class="text-gray-700 dark:text-gray-300"
          >
          </span>
        </div>
        <div id="modal-duration-container" class="hidden flex-col gap-1">
          <span class="font-semibold">Duration:</span>
          <span
            id="modal-file-duration"
            class="text-gray-700 dark:text-gray-300"
          >
          </span>
        </div>

        <div class="flex flex-col gap-1">
          <span class="font-semibold">Date added:</span>
          <span id="modal-file-date" class="text-gray-700 dark:text-gray-300">
            2025-11-03
          </span>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div
      class="h-16 px-5 flex items-center justify-between border-t border-gray-200 dark:border-gray-800"
    >
      <button
        title="Delete"
        aria-label="Delete the file"
        class="bg-gray-200 dark:bg-gray-800 p-2.5 rounded-md"
      >
        <span><%- icon({name: 'Trash2'}) %></span>
      </button>
      <button
        title="Share"
        aria-label="Share the file"
        class="bg-gray-200 dark:bg-gray-800 p-2.5 rounded-md"
      >
        <span><%- icon({name: 'Share2'}) %></span>
      </button>
      <button
        title="Download"
        aria-label="Download the file"
        class="bg-gray-200 dark:bg-gray-800 p-2.5 rounded-md"
      >
        <span><%- icon({name: 'Download'}) %></span>
      </button>
    </div>
  </div>
</div>
