<a
  href="/folders/<%= folder.id %>"
  class="item group w-full h-40 flex flex-col items-center justify-center gap-2 cursor-pointer"
>
  <!-- folder icon -->
  <div
    class="item-icon-wrapper group-focus:bg-sky-100 group-focus:dark:bg-sky-950 w-full flex-grow flex items-center justify-center border rounded-md border-gray-200 dark:border-gray-800"
  >
    <span aria-hidden="true" class="item-icon block size-14 text-sky-400">
      <!-- prettier-ignore-start -->
      <%- icon({ name: 'Folder', fill: 'currentColor', className: 'w-full h-auto'}) %>
      <!-- prettier-ignore-end -->
    </span>
  </div>

  <!-- folder name -->
  <div class="item-info relative w-full text-center">
    <span class="text-sm inline-block w-[calc(100%-24px)] mx-auto line-clamp-1">
      <%= folder.name %>
    </span>
    <button
      id="folder-details-trigger-<%= folder.id %>"
      type="button"
      aria-expanded="false"
      data-folder="<%= JSON.stringify(folder) %>"
      data-breadcrumbs="<%= JSON.stringify(breadcrumbs) %>"
      class="folder-details-modal-trigger item-info-btn absolute top-1/2 right-0 -translate-y-1/2 py-1 px-0.5 rounded-sm sm:opacity-0 opacity-100 group-hover:opacity-100 hover:dark:bg-gray-800 hover:bg-gray-100 transition-all duration-200"
    ></button>
  </div>
</a>
