<div class="px-5">
  <% if (!locals.currentPath.includes('search')) { %>

  <!-- up (hidden on search route) -->
  <div class="hidden sm:flex items-center gap-4 h-16">
    <button
      id="upload-btn-for-desktop"
      type="button"
      aria-expanded="false"
      class="upload-modal-trigger flex items-center justify-center gap-3 py-2 px-4 rounded-md font-medium text-gray-50 dark:text-gray-900 bg-gray-800 dark:bg-gray-50 hover:bg-gray-700 dark:hover:bg-gray-200 transition-colors duration-200"
    >
      <span><%- icon({name: 'ArrowUp'}) %></span>
      <span>Upload</span>
    </button>
    <button
      id="folder-btn-for-desktop"
      type="button"
      aria-expanded="false"
      class="folder-form-modal-trigger flex items-center justify-center gap-3 py-2 px-4 rounded-md font-medium text-gray-900 dark:text-gray-50 bg-gray-200/50 dark:bg-gray-700/40 hover:bg-gray-100 dark:hover:bg-gray-700/50 transition-colors duration-200"
    >
      <span><%- icon({name: 'FolderPlus'}) %></span>
      <span>New folder</span>
    </button>
  </div>
  <% } %>

  <!-- down -->

  <div class="h-12 flex items-center justify-between w-full max-w-7xl mx-auto">
    <% if (locals.currentPath.includes('search')) { %>
    <div>
      <span><%= locals.files.length || 0 %></span>
      <%= locals.files.length === 1 ? 'result' : 'results' %>
    </div>
    <% } else { %>
    <!-- breadcrumbs (hidden on search route) -->
    <nav aria-label="breadcrumb" class="flex items-center gap-2">
      <button
        id="breadcrumb-back-btn"
        type="button"
        class="sm:hidden <%= locals.currentPath === '/' ? 'hidden' : '' %>"
      >
        <span><%- icon({name: 'ArrowLeft', size: 20 }) %></span>
      </button>

      <a
        href="/"
        class="font-medium text-lg <%= locals.currentPath !== '/' ? 'hidden' : '' %> sm:block"
      >
        Cloud drive
      </a>

      <% if (locals.breadcrumbs && breadcrumbs.length > 0) { %>
      <!-- loop breadcrumbs -->
      <% breadcrumbs.forEach((bc, i) => { %>
      <span class="text-xl font-thin hidden sm:block">&#x203A;</span>

      <% if (i === breadcrumbs.length - 1) { %>
      <span aria-current="page" class="font-semibold"> <%= bc.name %> </span>
      <% } else { %>
      <a href="/folders/<%= bc.id %>" class="hidden sm:block"><%= bc.name %></a>
      <% } %>
      <% }) %>
      <% } %>
    </nav>
    <% } %>

    <!-- buttons -->
    <div class="flex items-center gap-3">
      <!-- Hidden on search route -->
      <% if (!locals.currentPath.includes('search')) { %>
      <!-- desktop sort -->
      <div
        class="hidden relative sm:flex items-center justify-between gap-2 shrink-0"
      >
        <button
          id="sort-info"
          type="button"
          class="flex items-center gap-1 p-1 rounded-md hover:bg-gray-200/50 dark:hover:bg-gray-800 transition-colors duration-200"
        >
          <span
            id="sort-direction"
            data-direction="<%= locals.direction || 'asc'  %>"
          >
            <%- locals.direction ? direction === 'asc' ? '&#x2191;' : '&#x2193;' : '&#x2191;' %>
          </span>
          <span
            id="sort-by"
            data-sort-by="<%= locals.sortBy || 'name' %>"
            class="font-light capitalize"
          >
            <%- locals.sortBy ? sortBy : 'name' %>
          </span>
        </button>

        <!-- sort-by select -->
        <!-- 1. trigger -->
        <button
          id="select-trigger"
          type="button"
          class="hidden sm:block p-1 rounded-md hover:bg-gray-200/50 dark:hover:bg-gray-800 transition-colors duration-200"
        >
          <%- icon({ name: 'ChevronsUpDown', size: 20 }) %>
        </button>

        <!-- 2. select -->
        <div
          id="sort-select"
          class="hidden absolute top-full translate-y-5 p-5 right-0 w-60 rounded-lg border border-gray-200 dark:border-gray-800 bg-white dark:bg-gray-900 shadow-lg"
        >
          <h3 class="text-lg font-medium mb-2">Sort by</h3>

          <ul class="flex flex-col">
            <li>
              <button
                type="button"
                class="py-2 font-light hover:bg-gray-50 w-full flex items-center justify-between px-2 rounded-sm"
              >
                <span class="font-mono font-light">Name</span>
                <span>
                  <%- locals.sortBy === 'name' ? '&#x2713;' : '' %>
                </span>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="py-2 font-light hover:bg-gray-50 w-full flex items-center justify-between px-2 rounded-sm"
              >
                <span class="font-mono font-light">Size</span>
                <span>
                  <%- locals.sortBy === 'size' ? '&#x2713;' : '' %>
                </span>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="py-2 font-light hover:bg-gray-50 w-full flex items-center justify-between px-2 rounded-sm"
              >
                <span class="font-mono font-light">Type</span>
                <span>
                  <%- locals.sortBy === 'type' ? '&#x2713;' : '' %>
                </span>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="py-2 font-light hover:bg-gray-50 w-full flex items-center justify-between px-2 rounded-sm"
              >
                <span class="font-mono font-light">Date</span>
                <span>
                  <%- locals.sortBy === 'date' ? '&#x2713;' : '' %>
                </span>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <% } %>

      <button
        id="search-btn-for-mobile"
        type="button"
        aria-controls="modal"
        aria-expanded="false"
        class="search-modal-trigger sm:hidden"
      >
        <%- icon({ name: 'Search', size: 20 }) %>
      </button>

      <button
        id="layout-toggle"
        type="button"
        aria-label="Toggle layout between grid and list"
        class="p-1 rounded-md hover:bg-gray-200/50 dark:hover:bg-gray-800 transition-colors duration-200"
      >
        <%- icon({ name: 'LayoutList', size: 20 }) %>
      </button>

      <button
        id="sort-btn-for-mobile"
        type="button"
        aria-controls="modal"
        aria-expanded="false"
        class="sort-modal-trigger sm:hidden"
      >
        <%- icon({ name: 'ArrowDownUp', size: 20 }) %>
      </button>
    </div>
  </div>
</div>
