<!-- breadcrumbs (hidden on search route) -->
<% if (!locals.currentPath.includes('search')) { %>

<nav id="breadcrumbs" aria-label="breadcrumb" class="flex items-center gap-2">
  <button
    id="breadcrumb-back-btn"
    type="button"
    class="sm:hidden <%= locals.currentPath === '/' ? 'hidden' : '' %> rounded-sm focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible: ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
  >
    <span><%- icon({name: 'ArrowLeft', size: 20 }) %></span>
  </button>

  <a
    href="/"
    class="text-lg <%= locals.currentPath !== '/' ? 'hidden' : 'font-medium' %> sm:block rounded-sm focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
  >
    Cloud drive
  </a>

  <% if (locals.breadcrumbs && breadcrumbs.length > 0) { %>
  <!-- loop breadcrumbs -->
  <% breadcrumbs.forEach((bc, i) => { %>
  <span class="text-xl hidden sm:block">&#x203A;</span>

  <% if (i === breadcrumbs.length - 1) { %>
  <span aria-current="page" class="font-semibold"> <%= bc.name %> </span>
  <% } else { %>
  <a
    href="/folders/<%= bc.id %>"
    class="hidden sm:block rounded-sm focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible: ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
    ><%= bc.name %></a
  >
  <% } %>
  <% }) %>
  <% } %>
</nav>

<% } %>

<script type="module" src="/scripts/components/breadcrumbs.js"></script>
