<!-- dropdown toggle -->

<li class="">
  <button
    id="dropdown-toggle"
    class="hidden sm:block size-8 cursor-pointer group rounded-full focus-visible:border-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
    aria-label="Toggle dropdown menu"
    aria-expanded="false"
    aria-controls="dropdown-content"
    type="button"
  >
    <span
      class="bg-teal-400 size-8 text-zinc-50 text-xl flex items-center justify-center rounded-full group-hover:bg-teal-400/75 transition-colors"
    >
      <%= formatAvatar(currentUser) %>
    </span>
  </button>
</li>

<!-- dropdown content -->

<div
  id="dropdown-content"
  aria-hidden="true"
  class="hidden absolute top-full right-5 w-72 translate-y-1 px-6 pt-8 bg-white dark:bg-zinc-900 dark:border-zinc-700 border rounded-lg z-[100] shadow-lg"
>
  <div class="flex items-center gap-3">
    <span
      class="flex-shrink-0 flex items-center justify-center size-10 text-2xl text-zinc-50 bg-teal-400 rounded-full"
    >
      <%= formatAvatar(currentUser) %>
    </span>

    <div class="flex flex-col flex-grow">
      <span class="text-lg font-semibold -mb-1 capitalize truncate">
        <%= currentUser.name || currentUser.email.split('@')[0] %>
      </span>
      <span class="text-zinc-400 dark:text-zinc-600 truncate">
        <%= currentUser.email %>
      </span>
    </div>
  </div>

  <ul class="w-full flex flex-col font-medium mt-8">
    <!-- <li>
      <a
        href="/"
        class="flex items-center gap-3 w-full text-start py-5 border-t border-zinc-200 dark:border-zinc-800 font-medium focus:outline-none focus:ring-2 focus:ring-zinc-400"
      >
        <span aria-hidden="true"><%- icon({name: 'Settings'}) %></span>
        <span> Settings </span>
      </a>
    </li> -->
    <li class="py-5 border-t border-zinc-200 dark:border-zinc-800">
      <form action="/auth/sign-out" method="post">
        <button
          type="submit"
          role="menuitem"
          class="w-full flex items-center gap-3 p-1 rounded-sm text-start dark:border-zinc-800 font-medium focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
        >
          <span aria-hidden="true"><%- icon({ name: 'LogOut' }) %></span>
          <span>Sign out</span>
        </button>
      </form>
    </li>
  </ul>
</div>

<script type="module" src="/scripts/components/dropdown.js"></script>
