<!-- Hamburger menu toggle -->

<button
  id="menu-toggle"
  class="sm:hidden size-8 flex items-center justify-center rounded-full cursor-pointer focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-gray-400 dark:focus-visible:ring-offset-gray-900"
  aria-label="Toggle navigation menu"
  aria-expanded="false"
  aria-controls="menu-content"
  type="button"
>
  <% if (locals.currentUser) { %>
  <span
    class="bg-teal-400 size-8 flex items-center justify-center text-gray-50 text-xl rounded-full"
  >
    <%= formatAvatar(currentUser) %>
  </span>
  <% } else { %>
  <span class="text-gray-700 dark:text-gray-50">
    <%- icon({name: 'Menu', size: 20}) %>
  </span>
  <% } %>
</button>

<!-- Hamburger menu content -->

<div
  id="menu-content"
  aria-hidden="true"
  class="hidden fixed top-16 left-0 -translate-x-full w-full h-[calc(100vh-64px)] bg-white text-gray-950 dark:bg-gray-900 dark:text-gray-50 transition-transform duration-200 z-[100]"
>
  <% if (locals.currentUser) { %>
  <div class="flex items-center gap-3 p-5">
    <span
      class="flex-shrink-0 flex items-center justify-center size-10 text-2xl text-gray-50 bg-teal-400 rounded-full"
    >
      <%= formatAvatar(currentUser) %>
    </span>

    <div class="flex flex-col flex-grow">
      <span class="text-lg font-semibold -mb-1 capitalize truncate">
        <%= currentUser.name || currentUser.email.split('@')[0] %>
      </span>
      <span class="text-gray-400 dark:text-gray-600 truncate">
        <%= currentUser.email %>
      </span>
    </div>
  </div>

  <ul class="w-full flex flex-col font-medium p-5">
    <li class="py-5 border-y border-gray-200 dark:border-gray-800">
      <form action="/auth/sign-out" method="post">
        <button
          type="submit"
          role="menuitem"
          class="w-full flex items-center gap-3 p-1 rounded-sm text-start font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-gray-400 dark:focus-visible:ring-offset-gray-900"
        >
          <span aria-hidden="true"><%- icon({name: 'LogOut'}) %></span>
          <span>Sign out</span>
        </button>
      </form>
    </li>
    <li class="py-5 border-b border-gray-200 dark:border-gray-800">
      <button
        type="button"
        class="theme-toggle w-full flex items-center gap-2 p-1 rounded-sm font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-gray-400 dark:focus-visible:ring-offset-gray-900"
      >
        <span aria-hidden="true" class="theme-icon"></span>
        <span class="theme-text">Switch to dark mode</span>
      </button>
    </li>
  </ul>
  <% } else { %>
  <ul class="w-full flex flex-col font-medium p-5">
    <li class="py-5 border-b border-gray-200 dark:border-gray-800">
      <a
        href="/auth/sign-in"
        class="block p-1 rounded-sm font-medium focus:outline-none focus:ring-2 focus:ring-gray-400"
      >
        <span>Sign in</span>
      </a>
    </li>

    <li class="py-5 border-b border-gray-200 dark:border-gray-800">
      <a
        href="/auth/sign-up"
        class="block p-1 rounded-sm font-medium focus:outline-none focus:ring-2 focus:ring-gray-400"
      >
        <span>Sign up</span>
      </a>
    </li>

    <li class="py-5 border-b border-gray-200 dark:border-gray-800">
      <button
        type="button"
        class="theme-toggle w-full flex items-center gap-2 p-1 rounded-sm font-medium focus:outline-none focus:ring-2 focus:ring-gray-400"
      >
        <span aria-hidden="true" class="theme-icon"></span>
        <span class="theme-text">Switch to dark mode</span>
      </button>
    </li>
  </ul>
  <% } %>

  <!-- bottom -->
  <div
    class="absolute bottom-0 left-0 w-full h-16 border-t border-gray-200 dark:border-gray-800"
  >
    <span
      class="block text-center leading-[64px] text-gray-300 dark:text-gray-700 font-semibold"
    >
      Menu
    </span>
  </div>
</div>

<script type="module" src="/scripts/components/hamburger-menu.js"></script>
