<div
  id="file-<%= file.id %>"
  role="button"
  tabindex="0"
  data-file="<%= JSON.stringify(file) %>"
  data-breadcrumbs="<%= JSON.stringify(breadcrumbs || []) %>"
  class="file-details-modal-trigger item group w-full h-40 flex flex-col items-center justify-center gap-2"
>
  <!-- file icon -->
  <div
    class="item-icon-wrapper w-full flex-grow flex items-center justify-center border rounded-md border-gray-200 dark:border-gray-800"
  >
    <span aria-hidden="true" class="item-icon block size-14 text-sky-400">
      <% if (file.mimeType.startsWith('image')) { %>
      <!-- Image icon -->
      <%- icon({name: 'Image', strokeWidth: 1, className: 'w-full h-auto'}) %>
      <% } else if (file.mimeType.startsWith('video')) { %>
      <!-- video icon -->
      <%- icon({name: 'Film', strokeWidth: 1, className: 'w-full h-auto'}) %>
      <% } else { %>
      <!-- file icon -->
      <%- icon({name: 'File', strokeWidth: 1, className: 'w-full h-auto'}) %>
      <% } %>
    </span>
  </div>

  <!-- file name -->
  <div class="item-info relative w-full text-center">
    <span class="text-sm inline-block w-[calc(100%-24px)] mx-auto truncate">
      <%= file.originalName %>
    </span>
  </div>
</div>

<!-- <script type="module" src="/scripts/components/layout-item-file.js"></script> -->
