<a
  id="folder-<%= folder.id %>"
  href="/folders/<%= folder.id %>"
  class="item group w-full h-40 flex flex-col items-center justify-center gap-2 cursor-pointer"
>
  <!-- folder icon -->
  <div
    class="item-icon-wrapper w-full flex-grow flex items-center justify-center border-none rounded-md border-zinc-200 dark:border-zinc-800"
  >
    <span aria-hidden="true" class="item-icon block size-14 text-sky-400">
      <!-- prettier-ignore-start -->
      <%- icon({ name: 'Folder', fill: 'currentColor', className: 'w-full h-auto'}) %>
      <!-- prettier-ignore-end -->
    </span>
  </div>

  <!-- folder name -->
  <div class="item-info relative w-full text-center">
    <span
      class="folder-name text-sm inline-block w-[calc(100%-24px)] mx-auto truncate"
    >
      <%= folder.name %>
    </span>
    <button
      id="folder-details-trigger-<%= folder.id %>"
      type="button"
      aria-expanded="false"
      data-folder="<%= JSON.stringify(folder) %>"
      data-breadcrumbs="<%= JSON.stringify(breadcrumbs || null) %>"
      class="folder-details-modal-trigger item-info-btn absolute top-1/2 right-0 -translate-y-1/2 py-1 px-0.5 rounded-md sm:opacity-0 opacity-100"
    >
      <%- icon({name: 'EllipsisVertical'}) %>
    </button>
  </div>
</a>

<!-- <script type="module" src="/scripts/components/layout-item-folders.js"></script> -->
