<a
  href="/share/folder/<%= shareToken %>/file/<%= file.id %>/download"
  title="Click to download"
  class="w-full h-40 flex flex-col items-center justify-center gap-2 cursor-pointer"
>
  <!-- file icon -->
  <div
    class="w-full flex-grow flex items-center justify-center border rounded-md border-gray-200 dark:border-gray-800 hover:border-sky-200 dark:hover:border-sky-800 hover:bg-sky-50 dark:hover:bg-sky-950 transition-colors"
  >
    <span aria-hidden="true" class="item-icon block size-14 text-sky-400">
      <% if (file.mimeType.startsWith('image')) { %>
      <!-- Image icon -->
      <%- icon({name: 'Image', strokeWidth: 1, className: 'w-full h-auto'}) %>
      <% } else if (file.mimeType.startsWith('video')) { %>
      <!-- video icon -->
      <%- icon({name: 'Film', strokeWidth: 1, className: 'w-full h-auto'}) %>
      <% } else { %>
      <!-- file icon -->
      <%- icon({name: 'File', strokeWidth: 1, className: 'w-full h-auto'}) %>
      <% } %>
    </span>
  </div>

  <!-- file info -->
  <div class="flex items-center gap-2 sm:min-w-0 text-sm">
    <p class="flex items-center min-w-0 w-full">
      <span class="min-w-0 truncate">
        <%= file.originalName.split('.')[0] %>
      </span>
      <span class="shrink-0">.<%= file.originalName.split('.')[1] %></span>
    </p>
    <span class="shrink-0 text-gray-500"><%= file.fileSize %></span>
  </div>
</a>
