<% if (!locals.currentPath.includes('search')) { %>

<!-- desktop sort -->
<div
  class="hidden relative sm:flex items-center justify-between gap-2 shrink-0"
>
  <button
    id="sort-info"
    type="button"
    class="flex items-center gap-1 rounded-md hover:bg-zinc-200/50 dark:hover:bg-zinc-800 transition-colors focus-visible:rounded-md focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
  >
    <span
      id="sort-direction"
      data-direction="<%= locals.direction || 'asc'  %>"
    >
      <%- locals.direction ? direction === 'asc' ? '&#x2191;' : '&#x2193;' : '&#x2191;' %>
    </span>
    <span
      id="sort-by"
      data-sort-by="<%= locals.sortBy || 'name' %>"
      class="font-light capitalize"
    >
      <%- locals.sortBy ? sortBy : 'name' %>
    </span>
  </button>

  <!-- sort-by select -->
  <!-- 1. trigger -->
  <button
    id="select-trigger"
    type="button"
    class="hidden sm:block rounded-md hover:bg-zinc-200/50 dark:hover:bg-zinc-800 transition-colors focus-visible:rounded-md focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
  >
    <%- icon({ name: 'ChevronsUpDown', size: 20 }) %>
  </button>

  <!-- 2. select -->
  <div
    id="sort-select"
    class="hidden absolute top-full translate-y-5 p-5 right-0 w-60 rounded-lg border border-zinc-200 dark:border-zinc-800 bg-white dark:bg-zinc-900 shadow-lg"
  >
    <h3 class="text-lg font-mono font-medium mb-2">Sort by</h3>

    <ul class="flex flex-col gap-1">
      <li>
        <button
          type="button"
          class="font-light hover:bg-zinc-50 w-full flex items-center justify-between px-2 rounded-md focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
        >
          <span class="font-mono font-light">Name</span>
          <span>
            <%- locals.sortBy === 'name' ? '&#x2713;' : '' %>
          </span>
        </button>
      </li>
      <li>
        <button
          type="button"
          class="font-light hover:bg-zinc-50 w-full flex items-center justify-between px-2 rounded-md focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
        >
          <span class="font-mono font-light">Size</span>
          <span>
            <%- locals.sortBy === 'size' ? '&#x2713;' : '' %>
          </span>
        </button>
      </li>
      <li>
        <button
          type="button"
          class="font-light hover:bg-zinc-50 w-full flex items-center justify-between px-2 rounded-md focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
        >
          <span class="font-mono font-light">Type</span>
          <span>
            <%- locals.sortBy === 'type' ? '&#x2713;' : '' %>
          </span>
        </button>
      </li>
      <li>
        <button
          type="button"
          class="font-light hover:bg-zinc-50 w-full flex items-center justify-between px-2 rounded-md focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
        >
          <span class="font-mono font-light">Date</span>
          <span>
            <%- locals.sortBy === 'date' ? '&#x2713;' : '' %>
          </span>
        </button>
      </li>
    </ul>
  </div>
</div>

<button
  id="sort-btn-for-mobile"
  type="button"
  aria-controls="modal"
  aria-expanded="false"
  class="sort-modal-trigger sm:hidden rounded-md focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
>
  <%- icon({ name: 'ArrowDownUp', size: 20 }) %>
</button>
<% } %>

<script type="module" src="/scripts/components/sort-controls.js"></script>
