<nav
  aria-label="Main navigation"
  class="relative h-16 shadow-xs border-b border-gray-200 dark:border-gray-800 z-50"
>
  <!-- 1280px container -->
  <div
    class="w-full max-w-7xl mx-auto h-16 px-5 flex items-center justify-between gap-5"
  >
    <!-- logo -->
    <div class="min-w-20">
      <a
        href="/"
        class="size-8 flex items-center justify-center bg-lime-500 uppercase font-semibold text-xl rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
      >
        <span class="text-white text-xl font-medium">F</span>
      </a>
    </div>

    <!-- desktop search -->
    <% if (locals.currentUser) { %>
    <form
      id="search-form-desktop"
      action="/search/desktop"
      method="get"
      class="hidden sm:block relative w-full max-w-xl"
      novalidate
    >
      <div
        id="search-indicator"
        class="size-5 absolute top-1/2 -translate-y-1/2 left-4 text-gray-500"
        aria-hidden="true"
      >
        <%- icon({ name: 'Search' }) %>
      </div>
      <label for="search-desktop" class="sr-only">
        Search for folders or files
      </label>
      <input
        id="search-desktop"
        type="text"
        name="q"
        value="<%= locals.searchQuery || '' %>"
        aria-label="Search input"
        autocomplete="off"
        spellcheck="false"
        class="w-full pl-12 h-11 pr-8 outline-none rounded-xl placeholder:text-gray-500 placeholder:font-light border border-gray-200 dark:border-gray-700 bg-gray-50 focus:border-gray-300 focus:ring-2 focus:ring-gray-50 dark:bg-gray-800 dark:focus:border-gray-600 dark:focus:ring-gray-900"
        placeholder="Search..."
      />

      <button
        type="button"
        aria-label="Clear search"
        class="opacity-0 absolute top-1/2 right-4 -translate-y-1/2 size-6 text-gray-500 cursor-pointer p-0.5 rounded-full dark:hover:text-gray-100 hover:text-gray-900 transition-all duration-200"
      >
        <%- icon({name: 'X'}) %>
      </button>
    </form>
    <% } %>

    <!-- desktop theme toggle -->
    <ul class="items-center gap-2 hidden sm:flex">
      <li class="">
        <button
          id="theme-btn-desktop"
          type="button"
          class="flex items-center justify-center mr-2 size-9 p-1 hover:bg-gray-200/60 dark:hover:bg-gray-800 rounded-full transition-colors duration-200 cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
        >
          <span aria-hidden="true" id="theme-icon-desktop"></span>
          <span class="sr-only" id="theme-text-desktop"></span>
        </button>
      </li>

      <% if (locals.currentUser) { %>
      <!-- dropdown -->
      <li class="">
        <button
          id="dropdown-btn"
          class="hidden sm:block size-8 cursor-pointer group"
          aria-label="Toggle dropdown menu"
          aria-expanded="false"
          aria-controls="dropdown-content"
          type="button"
        >
          <span
            class="bg-teal-400 size-8 text-gray-50 text-xl flex items-center justify-center rounded-full group-hover:bg-teal-400/75 transition-colors duration-200"
          >
            <%= formatAvatar(currentUser) %>
          </span>
        </button>
      </li>

      <% } else { %>
      <li>
        <a
          href="/auth/sign-in"
          class="border border-lime-700 text-lime-700 dark:border-lime-400 dark:text-lime-400 py-1.5 px-5 rounded-sm font-medium hover:bg-gray-100 dark:hover:bg-gray-800 transition-colors duration-200 cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
          >Sign in</a
        >
      </li>

      <li>
        <a
          href="/auth/sign-up"
          class="border border-transparent bg-lime-600 hover:bg-lime-500 text-white py-1.5 px-5 rounded-sm font-medium transition-colors duration-200 cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
        >
          Sign up
        </a>
      </li>
      <% } %>
    </ul>

    <!-- hamburger menu button -->
    <button
      id="menu-btn"
      class="sm:hidden size-8 cursor-pointer"
      aria-label="Toggle navigation menu"
      aria-expanded="false"
      aria-controls="menu-content"
      type="button"
    >
      <% if (locals.currentUser) { %>
      <span
        class="bg-teal-400 size-8 text-gray-50 text-xl flex items-center justify-center rounded-full"
      >
        <%= formatAvatar(currentUser) %>
      </span>
      <% } else { %>
      <span class="text-gray-700 dark:text-gray-50 block size-6">
        <%- icon({name: 'Menu'}) %>
      </span>
      <% } %>
    </button>
  </div>

  <!-- menu content -->
  <div
    id="menu-content"
    aria-hidden="true"
    class="fixed top-16 left-0 -translate-x-full w-full h-[calc(100vh-64px)] bg-white text-gray-950 dark:bg-gray-900 dark:text-gray-50 transition-transform duration-200 z-[100]"
  >
    <% if (locals.currentUser) { %>
    <div class="flex items-center gap-3 p-5">
      <span
        class="flex-shrink-0 flex items-center justify-center size-10 text-2xl text-gray-50 bg-teal-400 rounded-full"
      >
        <%= formatAvatar(currentUser) %>
      </span>

      <div class="flex flex-col flex-grow">
        <span class="text-lg font-semibold -mb-1 capitalize truncate">
          <%= currentUser.name || currentUser.email.split('@')[0] %>
        </span>
        <span class="text-gray-400 dark:text-gray-600 truncate">
          <%= currentUser.email %>
        </span>
      </div>
    </div>

    <ul class="w-full flex flex-col font-medium p-5">
      <li>
        <form action="/auth/sign-out" method="post">
          <button
            type="submit"
            role="menuitem"
            class="w-full flex items-center gap-3 text-start py-5 border-y border-gray-200 dark:border-gray-800 font-medium focus:outline-none focus:ring-2 focus:ring-gray-400"
          >
            <span aria-hidden="true"><%- icon({name: 'LogOut'}) %></span>
            <span>Sign out</span>
          </button>
        </form>
      </li>
      <li>
        <button
          id="theme-btn"
          type="button"
          class="w-full flex items-center gap-3 text-start py-5 border-b border-gray-200 dark:border-gray-800 font-medium focus:outline-none focus:ring-2 focus:ring-gray-400"
        >
          <span aria-hidden="true" id="theme-icon"></span>
          <span id="theme-text"></span>
        </button>
      </li>
    </ul>
    <% } else { %>
    <ul class="w-full flex flex-col font-medium p-5">
      <li>
        <a
          href="/auth/sign-in"
          class="block py-5 border-b border-gray-200 dark:border-gray-800 font-medium focus:outline-none focus:ring-2 focus:ring-gray-400"
        >
          <span>Sign in</span>
        </a>
      </li>
      <li>
        <a
          href="/auth/sign-up"
          class="block py-5 border-b border-gray-200 dark:border-gray-800 font-medium focus:outline-none focus:ring-2 focus:ring-gray-400"
        >
          <span>Sign up</span>
        </a>
      </li>
      <li>
        <button
          id="theme-btn"
          type="button"
          class="w-full text-start py-5 border-b border-gray-200 dark:border-gray-800 font-medium focus:outline-none focus:ring-2 focus:ring-gray-400"
        >
          <span id="theme-text">Switch to dark mode</span>
        </button>
      </li>
    </ul>
    <% } %>

    <!-- bottom -->
    <div
      class="absolute bottom-0 left-0 w-full h-16 border-t border-gray-200 dark:border-gray-800"
    >
      <span
        class="block text-center leading-[64px] text-gray-300 dark:text-gray-700 font-semibold"
      >
        Menu
      </span>
    </div>
  </div>

  <!-- dropdown content -->
  <% if (locals.currentUser) { %>
  <div
    id="dropdown-content"
    aria-hidden="true"
    class="hidden absolute top-full right-5 w-72 translate-y-1 px-6 pt-8 bg-white dark:bg-gray-900 dark:border-gray-700 border rounded-lg z-[100] shadow-lg"
  >
    <div class="flex items-center gap-3">
      <span
        class="flex-shrink-0 flex items-center justify-center size-10 text-2xl text-gray-50 bg-teal-400 rounded-full"
      >
        <%= formatAvatar(currentUser) %>
      </span>

      <div class="flex flex-col flex-grow">
        <span class="text-lg font-semibold -mb-1 capitalize truncate">
          <%= currentUser.name || currentUser.email.split('@')[0] %>
        </span>
        <span class="text-gray-400 dark:text-gray-600 truncate">
          <%= currentUser.email %>
        </span>
      </div>
    </div>

    <ul class="w-full flex flex-col font-medium mt-8">
      <li>
        <a
          href="/"
          class="flex items-center gap-3 w-full text-start py-5 border-t border-gray-200 dark:border-gray-800 font-medium focus:outline-none focus:ring-2 focus:ring-gray-400"
        >
          <span aria-hidden="true"><%- icon({name: 'Settings'}) %></span>
          <span> Settings </span>
        </a>
      </li>
      <li>
        <form action="/auth/sign-out" method="post">
          <button
            type="submit"
            role="menuitem"
            class="w-full flex items-center gap-3 text-start py-5 border-t border-gray-200 dark:border-gray-800 font-medium focus:outline-none focus:ring-2 focus:ring-gray-400"
          >
            <span aria-hidden="true"><%- icon({ name: 'LogOut' }) %></span>
            <span>Sign out</span>
          </button>
        </form>
      </li>
    </ul>
  </div>
  <% } %>
</nav>

<!-- <script type="module" src="/scripts/navbar.js"></script> -->
